@use './partials/variables' as *;
$fa-font-path: "./webfonts";
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import 'bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Martel Sans', sans-serif;
}
body{
    background-color: $bgColor;
}
ul{
    list-style: none;
}
header .navlink{
    color: rgba($color: #ffffff, $alpha: 0.8);
    font-size: .8rem;
    text-decoration: none;
    text-shadow: 0px 0px 10px black;
    &:hover{
    color: rgba($color: #ffffff, $alpha: 0.6);
    }
}
header .navlink.active{
    color: rgba($color: #ffffff, $alpha: 1);

}